
<!-- Modal -->
<div class="modal fade" id="confirmation-modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title" align="center">BeerTag</h3>
            </div>
            <div class="modal-body" align="center">

                <h4>Are you sure you wish to delete this beer?</h4>

            </div>
            <div class="modal-footer">
                <div class="form-group" align="center">
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal" id="confirmation-yes">Yes</button>
                    <button type="button" class="btn btn-success btn-lg" data-dismiss="modal" id="confirmation-no">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
