<div class="jumbotron" id="jumbotron-div">
    <div class="container">
        <div class="col-md-12" id="main-controls">

            <div class="card-body text-center">
                <h2 align="center">Server-Side Controls</h2>
            </div>

            <div class="btn-group col-md-4">
                <button type="button" class="btn btn-primary dropdown-toggle" id="sort-dropdown" data-toggle="dropdown">
                    Sort Beers <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a id="sort-by-name">By Name</a></li>
                    <li><a id="sort-by-abv">By ABV</a></li>
                    <li><a id="sort-by-default">By Order of Insertion</a></li>

                </ul>
            </div>

            <div class="btn-group col-md-4">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Filter Beers <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="style-dropdown" role="menu">
                    <li><a id="sort-by-style-amber">Amber</a></li>
                    <li><a id="sort-by-style-strong">Strong</a></li>
                    <li><a id="sort-by-style-brown">Brown</a></li>
                    <li><a id="sort-by-style-cream">Cream</a></li>
                    <li><a id="sort-by-style-golden">Golden</a></li>
                </ul>
            </div>


            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Search</button>
            </span>
                </div>
            </div>


        </div>

    </div>
</div>